.root1 {
 -tab-text-color: -fx-text-base-color ;
}
.tab-label1 {
 -fx-text-fill: -tab-text-color ;
}

.root {
 -tab-text-color: red ;
}


.tab-label {
 -fx-text-fill: blue ;
 -fx-font-size:22;
}

.menu, .menu-item {
 -fx-text-fill: blue ;
 -fx-font-size:22;
}

.tooltip {
 -fx-text-fill: green;
 -fx-background-color:yellow;
 -fx-font-size:22;
}
